*
!*/
!*.c
!*.d
!*.md
!*.sh
!*.yaml
!Makefile
!dub.json
!.gitignore
!.dir-locals.el
!.github/


.dub
docs.json
__dummy.html
docs/
/tdc
tdc.so
tdc.dylib
tdc.dll
tdc.a
tdc.lib
tdc-test-*
*.exe
*.o
*.obj
*.lst
